### **11 - suspectsInvestigation**

A large amount of money was stolen today from the main city bank, and as the chief of police it's your duty to find the robber.

You store information about your suspects in the table `Suspect`, which has the structure:

* `id`: unique suspect id;
* `name`: suspect first name;
* `surname`: suspect surname;
* `height`: suspect height;
* `weight`: suspect weight.

You have already gathered some evidence and discovered the following clues:

* according to the camera records, the robber is not taller than `170cm`;
* the robber left their signature near the crime scene: `"B. Gre?n"`. `"B"` definitely stands for the first letter of robber's name, and `"Gre?n"` is their surname. The `4th` letter of the surname is smudged by ketchup and is unreadable.

To make the list of suspects smaller, you would like to filter out the suspects who can't possibly be guilty according to the information obtained from the clues. For each remaining suspect, you want to save his/her `id`, `name` and `surname`. Please note that the information obtained from the clue should be considered case-insensitive, so for example `"bill Green"`, and `"Bill green"`, and `"Bill Green"` should all be included in the new table.

Given the table `Suspect`, build the resulting table as follows: the table should have columns `id`, `name` and `surname` and its values should be ordered by the suspects' `id`s in ascending order.

**Example**

For the following table `Suspect`

| `id` | `name`   | `surname` | `height` | `weight` |
| ---- | -------- | --------- | -------- | -------- |
| 1    | John     | Doe       | 165      | 60       |
| 2    | Bill     | Green     | 170      | 67       |
| 3    | Baelfire | Grehn     | 172      | 70       |
| 4    | Bill     | Gretan    | 165      | 55       |
| 5    | Brendon  | Grewn     | 150      | 50       |
| 6    | bill     | Green     | 169      | 50       |

the output should be

| `id` | `name`   | `surname` |
| ---- | -------- | --------- |
| 2    | Bill     | Green     |
| 5    | Brendon  | Grewn     |
| 6    | bill     | Green     |

The name of the `1st` suspect doesn't start with `"B"`, the `3rd` suspect is taller than `170cm`, and the surname of the `4th` suspect doesn't match the given pattern, meaning that these suspects are not included in the results.

* [execution time limit] 10 seconds (mysql)

* [memory limit] 1 GB

**Solution**

```sql
CREATE PROCEDURE solution()
BEGIN
  SELECT id, name, surname
  FROM suspect
  WHERE height <= 170 AND name LIKE 'B%' AND surname LIKE 'Gre_n'
  ORDER BY id
  ;
END
```

***

### **12 - suspectsInvestigation2**


A large amount of money was stolen today from the main city bank, and as the chief of police it's your duty to find the robber.

You store information about your suspects in the table `Suspect`, which has the structure:

* `id`: unique suspect id;
* `name`: suspect first name;
* `surname`: suspect surname;
* `height`: suspect height;
* `weight`: suspect weight.

You have already gathered some evidence and discovered the following clues:

* according to the camera records, the robber is taller than `170cm`;
* the robber left their signature near the crime scene: `"B. Gre?n"`. `"B"` definitely stands for the first letter of robber's name, and `"Gre?n"` is their surname. The `4th` letter of the surname is smudged by ketchup and is unreadable.

The clues you've obtained allow you to let some suspects go since they can't possibly be guilty, so now you need to build a list that contains the people who can be freed based on the gathered information. For each of these people, you need to know his/her `id`, `name` and `surname`. Please note that the information obtained from the clue should be considered case-insensitive, so for example `"bill Green"`, `"Bill GrEeN"`, and `"Bill Green"` should all be included in the new table

Given the table `Suspect`, build the resulting table as follows: the table should have columns `id`, `name` and `surname` and its values should be ordered by the suspects' `id`s in ascending order.

**Example**

For the following table `Suspect`

| `id` | `name`   | `surname` | `height` | `weight` |
| ---- | -------- | --------- | -------- | -------- |
| 1    | John     | Doe       | 165      | 60       |
| 2    | Bill     | Green     | 170      | 67       |
| 3    | Baelfire | Grehn     | 172      | 70       |
| 4    | Bill     | Gretan    | 165      | 55       |
| 5    | Brendon  | Grewn     | 150      | 50       |
| 6    | bill     | Green     | 169      | 50       |

the output should be

| `id` | `name`   | `surname` |
| ---- | -------- | --------- |
| 1    | John     | Doe       |
| 2    | Bill     | Green     |
| 4    | Bill     | Gretan    |

The `1st` and the `2nd` suspects are not taller than `170cm`, and the `4th` suspect's surname doesn't match the `"Gre?n"` pattern, so these suspects can't be guilty.

* [execution time limit] 10 seconds (mysql)

* [memory limit] 1 GB

**Solution**

```sql
CREATE PROCEDURE solution()
BEGIN
  SELECT id, name, surname
  FROM suspect
  WHERE height <= 170 OR name NOT LIKE 'B%' OR surname NOT LIKE 'Gre_n'
  ORDER BY id
  ;
END
```

***

### **13 - securityBreach**

You are managing a large website that uses a special algorithm for user identification. In particular, it generates a unique attribute for each person based only on their first and last names and some additional metadata.

After analyzing the server logs today you found out that the website security has been breached and the data of some of your users might have been compromised.

The users' info is stored in the table `users` with the following structure:

* `first_name`: user's first name;
* `second_name`: user's last name;
* `attribute`: a unique attribute string of this user

It seems that only the users those `attribute` was generated by the old version of your special algorithm were affected. Such attributes have the following format (accurate to letter cases):

`<one or more arbitrary character>%<first name>_<second name>%<zero or more arbitrary characters>`

It's your duty now to warn the users that have these attributes about possible risks.

Given the `users` table, compose the resulting table consisting only of the rows that contain affected users' info. The result should be sorted by the `attribute`s in ascending order.

**Example**

For the following table `users`

| `first_name`  | `second_name` | `attribute`                                                         |
| ------------- | ------------- | ------------------------------------------------------------------- |
| Mikel         | Cover         | %Mikel_Cover%                                                       |
| Vicenta       | Kravitz       | 0%Vicenta_Kravitz%                                                  |
| Tosha         | Cover         | 02VO1aJ767GF7L186lpIfBR0fQ5406Q02YcpG42LDF4Bv26                     |
| Shayne        | Dahlquist     | 0R0V331K8Q7ypBi4Az3B6Nm0jCqUk%Shayne_Dahlquist%46E3O0u7t7           |
| Carrol        | Llanes        | 2mDIb1SdJne5wfH1Al32BE92r7j1d60PJ263b2vyPn3zxQ2P7sVOM26J11UT6W0Np   |
| Lizabeth      | Cover         | d1gM87S0NEHp386jXOk0aDc7w8bx4u8q7D82ff2Z4YT43iLyZ39xYbEDXMk         |
| Mack          | Chace         | fAnU49nMrmGu308627J7ne3qqqSPJDnq6dwW607lahNB5DinTR2Rkp549G7         |
| Vicenta       | Marchese      | kUJ3N67vLB07mQL9Ai7p18cXGzjdT32r8283ZQi                             |
| Mikel         | Kravitz       | PBX86iw1Ied87Z9OarE6sdSLdt%Mikel_Kravitz%W73XOY9YaOgi060r2x12D2EmD7 |
| Deirdre       | Chace         | PBX86iw1Ied87Z9OarE6sdSLdtDeirdrelChaceW73XOY9YaOgi060r2x12D2EmD7   |
| Josphine      | Arzate        | PwWD95BCKVYn5YD7iHLMa3HjP9tH%josphine_arzate%d2hNHNd3RpqfUREN47     |
| Deirdre       | Chace         | ryCE5FIyS8q54A5036luzVS91j6C7P76E9X0O58htzgthuX24LG%DEirdre_Chace%  |
| Julietta      | Beer          | Tn35g5h51u7ltW946J                                                  |

the output should be

| `first_name`  | `second_name` | `attribute`                                                         |
| ------------- | ------------- | ------------------------------------------------------------------- |
| Vicenta       | Kravitz       | 0%Vicenta_Kravitz%                                                  |
| Shayne        | Dahlquist     | 0R0V331K8Q7ypBi4Az3B6Nm0jCqUk%Shayne_Dahlquist%46E3O0u7t7           |
| Mikel         | Kravitz       | PBX86iw1Ied87Z9OarE6sdSLdt%Mikel_Kravitz%W73XOY9YaOgi060r2x12D2EmD7 |

* [execution time limit] 10 seconds (mysql)

* [memory limit] 1 GB

**Solution**

```sql
CREATE PROCEDURE solution()
BEGIN
  SELECT *
  FROM users
  WHERE attribute LIKE BINARY CONCAT('%_%', '\%', first_name, '\_', second_name, '\%%')
  ORDER BY attribute
  ;
END
```

***

### **14 - testCheck**

**Implement the missing code, denoted by ellipses. You may not modify the pre-existing code.**

Your professor gave the class a bonus task: Write a program that will check the answers for the latest test. The program will be given a table `answers` with the following columns:

* `id` - the unique ID of the question;
* `correct_answer` - the correct answer to the question, given as a string;
* `given_answer` - the answer given to the question, which can be NULL.

Your task is to return the table with a column `id` and a column `checks`, where for each `answers` `id` the following string should be returned:

* `"no answer"` if the `given_answer` is empty;
* `"correct"` if the `given_answer` is the same as the `correct_answer`;
* `"incorrect"` if the `given_answer` is not empty and is incorrect.
* 
Order the records in the answer table by `id`.

**Example**

For given table `answers`

| `id` | `correct_answer` | `given_answer` |
| ---- | ---------------- | -------------- |
| 1    | a                | a              |
| 2    | b                | NULL           |
| 3    | c                | b              |

the output should be

| `id` | `checks`  |
| ---- | --------- |
| 1    | correct   |
| 2    | no answer |
| 3    | incorrect |

* [execution time limit] 10 seconds (mysql)

* [memory limit] 1 GB

**Solution**

```sql
CREATE PROCEDURE solution()
    SELECT id, IF (given_answer IS NULL, 'no answer', IF(correct_answer = given_answer, 'correct', 'incorrect')) AS checks
    FROM answers
    ORDER BY id;

```

***

### **15- expressionsVerification**

You're a math teacher at an elementary school. Today you taught your class basic arithmetic operations (`"+"`, `"-"`, `"*"`, `"/"`) and now you need to give the students some homework. You have a lot of expressions in the format `a <operation> b = c`, where `a`, `b`, and `c` are some integers and `operation` is one of the operations given above.

Information about these expressions is stored in the table `expressions`, which has the structure:

* `id`: the unique operation id;
* `a`: an integer;
* `b`: an integer;
* `operation`: one of the operations given above (`"+"`, `"-"`, `"*"`, or `"/"`);
* `c`: an integer.

The homework you're going to give is simple: For each expression, the student needs to determine whether it's correct or not, i.e. whether it's true that the expression to the left of the `=` sign equals `c`.

Since you have many students and checking all their answers manually is a lot of work, you want to streamline the process by automatically identifying all the `expressions` that are correct. Given the table expressions, build the resulting table as follows: The table should have the same columns as the initial table does, but it should only contain those rows that represent correct expressions. The rows should be ordered by `id`.

**Example**

For the following table `expressions`

| `id` | `a` | `b` | `operation` | `c` |
| ---- | --- | --- | ----------- | --- |
| 1    | 2   | 3   | +           | 5   |
| 2    | 2   | 3   | +           | 6   |
| 3    | 3   | 2   | /           | 1   |
| 4    | 4   | 7   | *           | 28  |
| 5    | 54  | 2   | -           | 27  |
| 6    | 3   | 0   | /           | 0   |

the output should be

| `id` | `a` | `b` | `operation` | `c` |
| ---- | --- | --- | ----------- | --- |
| 1    | 2   | 3   | +           | 5   |
| 4    | 4   | 7   | *           | 28  |

Explanation:

* 2 + 3 = 5 - correct;
* 2 + 3 = 6 - incorrect;
* 3 / 2 = 1 - incorrect;
* 4 * 7 = 28 - correct;
* 54 - 2 = 27 - incorrect;
* 3 / 0 = 0 - incorrect.

* [execution time limit] 10 seconds (mysql)

* [memory limit] 1 GB

**Solution**

```sql
CREATE PROCEDURE solution()
BEGIN
 SELECT id, a, b, operation, c
 FROM expressions
 WHERE c = (CASE operation
      WHEN '+' THEN a + b
      WHEN '-' THEN a - b
      WHEN '*' THEN a * b
      WHEN '/' THEN a / b
      END)
 ORDER BY id
 ;
END
```

***

### **16 - newsSubscribers**

You are managing a small newspaper subscription service. Anyone who uses it can subscribe to a large number of different newspapers for a full year or just a half year.

The information about subscriptions is stored in the `full_year` and `half_year` tables, which have the following structures:

* `full_year`:
    * `id`: the unique subscription ID;
    * `newspaper`: the newspaper's name;
    * `subscriber`: the name of the subscriber.
* `half_year`
    * `id`: the unique subscription ID;
    * `newspaper`: the newspaper's name;
    * `subscriber`: the name of the subscriber.

Given the `full_year` and `half_year` tables, compose the result as follows: The resulting table should have one column `subscriber` that contains all the distinct names of anyone who is subscribed to a newspaper with the word `Daily` in its name. The table should be sorted in ascending order by the subscribers' first names.

**Example**

The following tables `full_year`

| `id` | `newspaper`        | `subscriber`  |
| ---- | ------------------ | ------------- |
| 1    | The Paragon Herald | Crissy Sepe   |
| 2    | The Daily Reporter | Tonie Moreton |
| 3    | Morningtide Daily  | Erwin Chitty  |
| 4    | Daily Breakfast    | Tonie Moreton |
| 5    | Independent Weekly | Lavelle Phu   |

and `half_year`

| `id` | `newspaper`           | `subscriber`  |
| ---- | --------------------- | ------------- |
| 1    | The Daily Reporter    | Lavelle Phu   |
| 2    | Daily Breakfast       | Tonie Moreton |
| 3    | The Paragon Herald    | Lia Cover     |
| 4    | The Community Gazette | Lavelle Phu   |
| 5    | Nova Daily            | Lia Cover     |
| 6    | Nova Daily            | Joya Buss     |

the output should be

| `subscriber`  |
| ------------- |
| Erwin Chitty  |
| Joya Buss     |
| Lavelle Phu   |
| Lia Cover     |
| Tonie Moreton |

* [execution time limit] 10 seconds (mysql)

* [memory limit] 1 GB

**Solution**

```sql
CREATE PROCEDURE solution()
BEGIN
	SELECT DISTINCT subscriber
	FROM full_year
	WHERE newspaper LIKE '%Daily%'
	UNION
	SELECT DISTINCT subscriber
	FROM half_year
	WHERE newspaper LIKE '%Daily%'
	ORDER BY subscriber
	;
END
```